@{
    Layout = null;
}

<a href="/Default/Index/">Index</a>
<a href="/Default/Customer/">Müşteriler</a>

<h1>Ürünler</h1>
<h3>@ViewBag.m1</h3>
<h3>@ViewBag.m2</h3>
<h3>@ViewBag.m3</h3>
<h3>Toplam: @ViewBag.s</h3>
<h3>Çevre: @ViewBag.c</h3>
<h3>Faktoriyel: @ViewBag.f</h3>
<h3>@ViewBag.u</h3>
<h3>Faktoriyel: @ViewBag.factor</h3>