@model Product

@{
    ViewData["Title"] = "AddProduct";
    Layout = "~/Views/Shared/_CoreLayout.cshtml";
}

<h1>Ürün Ekleme Sayfası</h1>
<form method="post">
    @Html.Label("Ürün Adı")
    @Html.TextAreaFor(x => x.ProductName, new{@class = "form-control"})
    <br />
    @Html.Label("Fiyat")
    @Html.TextAreaFor(x => x.ProductPrice, new { @class = "form-control" })
    <br />
    @Html.Label("Stok")
    @Html.TextAreaFor(x => x.ProductStock, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Ürünü Ekle</button>
    <a href="/Product/Index/" class="btn btn-danger">Vazgeç</a>
</form>
